<ng-container class="presentation">
  <img src="" alt="" />
  <h2>Who am I?</h2>
  <ng-container class="presentation__p-container">
    <p class="presentation__p-container__p">
      I'm passionate about development, and I've turned my hand to it
    </p>
    <p class="presentation__p-container__p">
      I enjoy solving problems and learning on a daily basis.<br />
    </p>
    <p class="presentation__p-container__p">
      With the aim of providing a satisfying user experience.
    </p>
  </ng-container>
</ng-container>
