@use "../../shared/utils.scss";

:host {
  @include utils.flex-column;
  position: relative;
  .contact {
    &__title {
      @include utils.flex-center;
    }
    &__form {
      position: absolute;
      top: 25%;
      left: 25%;
    }
  }
}
